.product-image {
  max-height: 500px;
  object-fit: contain;
}

:host ::ng-deep .p-rating .p-rating-icon.p-rating-icon-active {
  color: #ffd700;
}

.badge {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
